#{extends 'main.html' /}
#{set title:'ESE KB - Edit User Profile' /}

<script type="text/javascript" charset="utf-8">
		<!--
			setOneColumnView();
		    $('#detals_headline').text('Edit your profile');
		-->
</script>

<h3>${message}</h3>

#{list items:currentUser, as:'user'}
<div class="form">
  <form action="@{UserController.editUserProfile()}" method="GET">
	<ul>
		<li>
			<label for="name">Username:</label>
			<input type="text" name="name" value="${user.getName()}" />
		</li>
		<li>Change your Password:</li>
		<div style="padding-left: 30pt;"> 
			<li>
				<label for="oldPassword">Old Password:</label>
				<input type="password" name="oldPassword" value="" />
			</li>
			<li>
				<label for="password">New Password:</label>
				<input type="password" name="password" value="" />
			</li>
			<li>
				<label for="password2">Repeat new Password:</label>
				<input type="password" name="password2" value="" />
			</li>
		</div>
		<li>
			<label for="email">Email:</label>
			<input type="text" id="email" name="email" value="${user.getEmail()}" />
		</li>
		<li>
			<label for="phone">Phone:</label>
			<input type="text" id="phone" name="phone" value="${user.getPhone()}" />
		</li>
		<li>
			<label for="birthdate">Birthdate:</label>
			<input type="text" id="birthdate" name="birthdate" value="${user.getBirthdate()}" />
		</li>
		<li>
			<label for="street">Street:</label>
			<input type="text" id="street" name="street" value="${user.getStreet()}" />
		</li>
		<li>
			<label for="town">Town:</label>
			<input type="text" id="town" name="town" value="${user.getTown()}" />
		</li>
		<li>
			<label for="hobbies">Hobbies:</label>
			<textarea rows="3" cols="36" id="hobbies" name="hobbies">${user.getHobbies()}</textarea>
		</li>
		<li>
			<label for="moto">Moto:</label>
			<textarea rows="3" cols="36" id="moto" name="moto">${user.getMoto()}</textarea>
		</li>
		<li>
			<label for="background">Technical background:</label>
			<textarea rows="3" cols="36" id="background" name="background">${user.getBackground()}</textarea>
		</li>
		<li>
			<label for="quote">Favourite quote: </label>
			<textarea rows="3" cols="36" id="quote" name="quote" value="${quote}">${user.getQuote()}</textarea>
		</li>
		<li>
			<input type="submit" value="Save" />
		</li>
	</ul>
  </form>
</div>
<fieldset>
	<legend>Avatar</legend>

	#{if user.hasAvatar()}
	<img src="/public/images/avatars/${user.getAvatarFileName()}" title="your avatar" alt="your avatar" />
	#{/if}
	#{else}
	<p>No avatar set yet.</p>
	#{/else}

	<form action="@{UserController.setAvatar()}" method="POST" enctype="multipart/form-data">
		<input type="file" name="avatar" id="avatar" accept="image/*" />
		<input type="submit" value="Upload" />
	</form>
</fieldset>
#{/list}
