#{extends 'main.html' /}

<script type="text/javascript" charset="utf-8">
		<!--
			setOneColumnView();
		    $('#detals_headline').text('Your profile');
		-->
</script>

#{if session.get("username") == profileOwner.getName()}
	&raquo; <a href="@{UserController.showUserProfile()}">edit Profile</a>
#{/if}

#{if isAdmin}
	#{if session.get("username") != profileOwner.getName()}
		<fieldset>
			<a href="@{Admin.showAdminUserProfile(profileOwner.getName())}">edit Information</a>
		</fieldset>
		#{/if}
#{/if}

<h3>About me
<a href="javascript:toggle('about_me', 'about')">
	<img id="about" src="/public/images/more.png" alt="more" />
	</a>
</h3>
<div id="about_me" style="display: none">
	<table>
		<tr>
			<td>Birthdate:</td>
			<td>${profileOwner.getBirthdate()}</td>
		</tr>
		<tr>
			<td>Moto:</td>
			<td>${profileOwner.getMoto()}</td>
		</tr>
		<tr>
			<td>Background:</td>
			<td>${profileOwner.getBackground()}</td>
		</tr>
		<tr>
			<td>Hobbies:</td>
			<td>${profileOwner.getHobbies()}</td>
		</tr>
		<tr>
			<td>Quote:</td>
			<td>${profileOwner.getQuote()}</td>
		</tr>
	</table>
</div>

<h3>Contact Information
<a href="javascript:toggle('contact_information', 'contact')">
	<img id="contact" src="/public/images/more.png" alt="more" />
	</a>
</h3>
<div  id="contact_information" style="display: none">
	<table>
		<tr>
			<td>Town:</td>
			<td>${profileOwner.getTown()}</td>
		</tr>
		<tr>
			<td>Street:</td>
			<td>${profileOwner.getStreet()}</td>
		</tr>
		<tr>
			<td>Phone:</td>
			<td>${profileOwner.getPhone()}</td>
		</tr>
		<tr>
			<td>E-Mail:</td>
			<td>${profileOwner.getEmail()}</td>
		</tr>
	</table>
</div>

<h3>My reputation
<a href="javascript:toggle('reputation', 'rep')">
	<img id="rep" src="/public/images/more.png" alt="more" />
	</a>
</h3>
<div id="reputation" style="display: none">
<p>Current Reputation: ${profileOwner.getScore()}</p>

<img src="http://chart.apis.google.com/chart
	?chxt=y
	&chbh=a
	&chs=700x225
	&cht=bvg
	&chco=000000
	&chd=t:${reputations.get(29)},
			${reputations.get(28)},
			${reputations.get(27)},
			${reputations.get(26)},
			${reputations.get(25)},
			${reputations.get(24)},
			${reputations.get(23)},
			${reputations.get(22)},
			${reputations.get(21)},
			${reputations.get(20)},
			${reputations.get(19)},
			${reputations.get(18)},
			${reputations.get(17)},
			${reputations.get(16)},
			${reputations.get(15)},
			${reputations.get(14)},
			${reputations.get(13)},
			${reputations.get(12)},
			${reputations.get(11)},
			${reputations.get(10)},
			${reputations.get(9)},
			${reputations.get(8)},
			${reputations.get(7)},
			${reputations.get(6)},
			${reputations.get(5)},
			${reputations.get(4)},
			${reputations.get(3)},
			${reputations.get(2)},
			${reputations.get(1)},
			${reputations.get(0)}
	&chtt=Reputation+over+Time"
	width="700" height="225"
	alt="Reputation over Time" />
</div>

#{if userQuestions}
<h3>My questions
	<a href="javascript:toggle('my_questions', 'tquestions')">
	<img id="tquestions" src="/public/images/more.png" alt="more" />
	</a>
</h3>
<div class="log">
	<div id="my_questions" style="display: none">
		#{list items:userQuestions, as:'question'}
			#{short_post post:question /}
		#{/list}
	</div>
</div>
#{/if}

#{if userAnswers}
<h3>My answers
	<a href="javascript:toggle('my_answers', 'tanswers')">
	<img id="tanswers" src="/public/images/more.png" alt="more" />
	</a>
</h3>
<div class="log">
	<div id="my_answers" style="display: none">
		#{list items:userAnswers, as:'answer'}
			#{short_answer post:answer /}
		#{/list}
	</div>
</div>
#{/if}

#{if userLog}
<h3>My activities
	<a href="javascript:toggle('my_activities', 'tactivities')">
	<img id="tactivities" src="/public/images/more.png" alt="more" />
	</a>
</h3>

<div class="log">
	<div id="my_activities" style="display: none">
		#{list items:userLog, as:'log'}
			#{log_entry post:log /}
		#{/list}
	</div>
</div>
#{/if}

<script type="text/javascript" charset="utf-8">
		<!--
			function toggle(id, a) {
				$('#'+id).toggle();
				var v = $('#'+id).css('display');
				if ( v == "block" ) {
					$('#'+a).replaceWith('<img id="' + a + '" src="/public/images/less.png" alt="less" />');
				} else {
					$('#'+a).replaceWith('<img id="' + a + '" src="/public/images/more.png" alt="more" />');
				}
			}
		-->
</script>
