#{extends 'main.html' /}
#{set title:'ESE KB - Edit comment' /}
<script type="text/javascript" charset="utf-8">
		<!--
			setHeadline('#details_headline', 'Edit comment');
		-->
</script>
<div class="form">
	<form action="@{CommentController.editQuestionComment(qid, cid, comment)}" method="GET">
		<ul>
			<li>
				<label for="newContent">Edit comment</label>
				<textarea id="newContent" name="newContent" cols="40" rows="4">${comment.getContent()}</textarea>
			</li>
			<li>
				<input type="submit" value="Save!" />
			</li>
		</ul>
	</form>
</div>
