#{extends 'main.html' /}
#{set title:'ESE KB - Add a new Comment' /}

<script type="text/javascript" charset="utf-8">
		<!--
			setHeadline('#details_headline', 'Add new comment');
		-->
</script>

<div class="form">
	<form action="@{CommentController.addCommentToQuestion(qid)}" method="GET">
		<ul>
			<li>
				<label for="newComment">Your comment</label>
				<textarea id="newComment" name="newComment" cols="40" rows="4"></textarea>
			</li>
			<li>
				<input type="submit" value="Comment!" />
			</li>
		</ul>
	</form>
</div>
