<div "answerbox">
	<div class="answer">
		#{userbox user:_answer.getOwner() /}

		<span class="date">Posted on ${_answer.getDate()}</span>

		#{if _answer.isBestAnswer()}
		<span class="bestanswer">Best answer according to OP</span>
		#{/if}

		#{if _question.ownerIs(session.uid) && _question.bestAnswerChangeable() && !_answer.isBestAnswer()}
		<a href="/question/${_question.getId()}/setbestanswer/${_answer.getId()}">
		<span class="bestanswer_select">Select as best answer</span>
		</a>
		#{/if}

		<div class="answer_text">
		${_answer.getHtml().raw()}
		</div>

		#{votebox post:_answer, mode:'answer', question:_question /}

		#{if session.uid}
		<a href="@{Admin.showEditAnswerForm(_answer.getId(), _question.getId())}">edit answer</a> |
		#{/if}
		
		#{if session.uid}
		<a href="@{Admin.showAnswerCommentForm(_answer.getId(), _question.getId())}">write comment</a>
		#{/if}

	<div class="comments">
		<h3>Comments to this answer</h3>

		#{list items:_answer.getComments(), as:'comment'}
		<div class="comment">
			Posted on <strong>${comment.getDate()}</strong> by <strong>${comment.getOwner()}</strong>
			<p class="comment_text">${comment.getContent()}</p>
		</div>
		
			#{if session.uid}
			<a href="@{Admin.showEditAnswerCommentForm(_answer.getId(), _question.getId(), comment.getId())}">edit comment</a>
			#{/if}
		
		#{/list}
	</div>
</div>
