<div "answerbox">
	<div class="answer">
		#{userbox user:_answer.getOwner() /}

		<span class="date">Posted ${_answer.getTimePassedSincePosting()} ago</span>

		#{if _answer.isBestAnswer()}
		<span class="bestanswer">Marked as best answer</span>
		#{/if}

		#{if _question.ownerIs(session.uid) && _question.bestAnswerChangeable() && !_answer.isBestAnswer()}
		<a href="/question/${_question.getId()}/setbestanswer/${_answer.getId()}">
			<span class="bestanswer_select">Select as best answer</span>
		</a>
		#{/if}

		<div class="answer_text">
		${_answer.getHtml().raw()}
		</div>

		#{votebox post:_answer, mode:'answer', question:_question /}

		#{if session.uid}
		#{if _answer.ownerIs(session.uid) || session.get("username")=="admin"}
		<a href="@{Admin.showEditAnswerForm(_answer.getId(), _question.getId())}">edit answer</a> |
		#{/if}

		#{if session.uid}
		<a href="@{Admin.showAnswerCommentForm(_answer.getId(), _question.getId())}">write comment</a>
		#{/if}
		
		#{if _answer.ownerIs(session.uid) || session.get("username")=="admin"}
		 | <a href="@{Admin.deleteAnswer(_answer.getId(), _question.getId())}">delete answer</a>
		#{/if}
		#{/if}
</div>
#{if _answer.getComments().size() > 0}
<div class="comments">
		<h3>Comments to this answer</h3>

		#{list items:_answer.getComments(), as:'comment'}
		<div class="comment">
			Posted <strong>${comment.getTimePassedSincePosting()}</strong> by <strong>${comment.getOwner()}</strong>
			<p class="comment_text">${comment.getContent()}</p>
		</div>

		#{if session.uid}
		#{if comment.ownerIs(session.uid) || session.get("username")=="admin"}
		<a href="@{Admin.showEditCommentForm(_question.getId(), comment.getId())}">edit comment</a>
		#{/if}
		
		#{if comment.ownerIs(session.uid)|| session.get("username")=="admin"}
		 | <a href="@{Admin.deleteComment(_question.getId(), comment.getId())}">delete comment</a>
		#{/if}
		#{/if}

		#{/list}
</div>
#{/if}

