<div "answerbox">
	#{if !_answer.ownerIs(session.uid)}
	#{votebox post:_answer, mode:'answer', question:_question /}
	#{/if}

	<div class="answer" id="answer-${_answer.getId()}">
		#{userbox user:_answer.getOwner() /}

		<span class="date">
			Posted ${_answer.getTimePassedSincePosting()} ago
			#{if _answer.getEditor()!=_answer.getOwner()}
			 | <a href="/answer/${_answer.getId()}/history">edited by ${_answer.getEditor()}</a>
			#{/if}
		</span>

		#{if _answer.isBestAnswer()}
		<span class="bestanswer">Best answer!</span>
		#{/if}

		<div class="answer_text">
		${_answer.getHtml().raw()}
		</div>

		#{if session.uid}
		<div class="toolbox">
			<a href="@{Admin.showAnswerCommentForm(_answer.getId(), _question.getId())}" title="write comment"><img src="/public/images/comment.png" alt="write comment" /></a>

			#{if _answer.ownerIs(session.uid) || session.get("username") == "admin" || _answer.isModerator(session.get("username"))}
			<a href="@{Admin.showEditAnswerForm(_answer.getId(), _question.getId())}"><img src="/public/images/edit.png" alt="edit answer" title="edit answer" /></a>
			<a href="@{Admin.deleteAnswer(_answer.getId(), _question.getId())}"><img src="/public/images/delete.png" alt="delete answer" title="delete answer" /></a>
			#{/if}

			#{if _question.ownerIs(session.uid) && _question.bestAnswerChangeable() && !_answer.isBestAnswer()}
			<a href="/question/${_question.getId()}/setbestanswer/${_answer.getId()}" title="select as best answer">
				<img src="/public/images/star.png" alt="select as best answer" />
			</a>
			#{/if}
		</div>
		#{/if}
</div>

#{if _answer.getComments().size() > 0}
<div class="comments">
		<h3>Comments to this answer</h3>

		#{list items:_answer.getComments(), as:'comment'}

		<div class="comment">
			Posted <strong>${comment.getTimePassedSincePosting()}</strong> ago

			#{by post:comment /}

			#{if session.uid}
			<div class="toolbox">
				#{if comment.ownerIs(session.uid) || session.get("username")=="admin" || comment.isModerator(session.get("username"))}
				<a href="@{Admin.showEditAnswerCommentForm(_question.getId(), comment.getId())}"><img src="/public/images/edit.png" alt="edit comment" /></a>
				<a href="@{Admin.deleteComment(_question.getId(), comment.getId())}"><img src="/public/images/delete.png" alt="delete comment" /></a>
				#{/if}
			</div>
			#{/if}

			<p class="comment_text">${comment.getContent()}</p>

		</div>

		#{/list}
</div>
#{/if}

