<div>
	#{if !_question.ownerIs(session.uid)}
	#{votebox post:_question, mode:'question' /}
	#{/if}

	<div class="question" id="question-${_question.getId()}">
		#{userbox user:_question.getOwner() /}

		<span
			class="date">Posted ${_question.getTimePassedSincePosting()} ago
			#{if _question.getEditor()!=_question.getOwner()}
				 | <a href="/question/${_question.getId()}/history">edited by ${_question.getEditor()}</a>
			#{/if}
		</span>

		<div class="question_text">
			${_question.getHtml().raw()}
		</div>

		#{tagbox post:_question /}

		#{if session.uid}
		<div class="toolbox">
			<a href="@{Admin.showQuestionCommentForm(_question.getId())}" title="write comment"><img src="/public/images/comment.png" alt="write comment" /></a>

			#{if _question.ownerIs(session.uid) || session.get("username")=="admin" || _question.isModerator(session.get("username"))}
			<a href="@{Admin.showEditQuestionForm(_question.getId())}" title="edit question"><img src="/public/images/edit.png" alt="edit question" /></a>
			<a href="@{Admin.deleteQuestion(_question.getId())}" title="delete question"><img src="/public/images/delete.png" alt="delete question" /></a>
			#{/if}
		</div>
		#{/if}
	</div>
</div>

#{if _question.getComments().size > 0}
<div class="comments">
	<h3>Comments to this answer</h3>

	#{list items:_question.getComments(), as:'comment'}
	<div class="comment">
		Posted <strong>${comment.getTimePassedSincePosting()}</strong> ago

		#{by post:comment /}

		#{if session.uid}
		<div class="toolbox">
			#{if comment.ownerIs(session.uid) || session.get("username")=="admin" || comment.isModerator(session.get("username"))}
			<a href="@{Admin.showEditQuestionCommentForm(_question.getId(), comment.getId())}"><img src="/public/images/edit.png" alt="edit comment" /></a>
			<a href="@{Admin.deleteComment(_question.getId(), comment.getId())}"><img src="/public/images/delete.png" alt="delete comment" /></a>
			#{/if}
		</div>
		#{/if}

		<p class="comment_text">${comment.getContent()}</p>


	</div>

	#{/list}
</div>
#{/if}
