<div class="question">
	#{userbox user:_question.getOwner() /}

	<span class="date">Posted ${_question.getTimePassedSincePosting()}</span>

	<div class="question_text">
		${_question.getHtml().raw()}
	</div>

	#{votebox post:_question, mode:'question' /}

	#{tagbox post:_question /}

	#{if session.uid && _question.ownerIs(session.uid)}
	<a href="@{Admin.showEditQuestionForm(_question.getId())}">edit question</a> |
	#{/if}

	#{if session.uid}
	<a href="@{Admin.showQuestionCommentForm(_question.getId())}">write comment</a>
	#{/if}

</div>
#{if _question.getComments().size > 0}
<div class="comments">
	<h3>Comments to this answer</h3>

	#{list items:_question.getComments(), as:'comment'}
	<div class="comment">
		Posted <strong>${comment.getTimePassedSincePosting()}</strong> by <strong>${comment.getOwner()}</strong>
		<p class="comment_text">${comment.getContent()}</p>
	</div>

	#{if session.uid && comment.ownerIs(session.uid)}
	<a href="@{Admin.showEditCommentForm(0, _question.getId(), comment.getId())}">edit comment</a>
	#{/if}

	#{/list}
</div>
#{/if}
