#{secure.check ''}
<div class="votebox">
    #{if _post.ownerIs(session.uid)}
        You can't rate your own post!
    #{/if}
    #{else}
        Score: ${_post.getScore()} |
        Vote:
        #{if _mode == 'answer'}
        <a href="/question/${_question.getId()}/answer/${_post.getId()}/vote/up"><span class="vote_button">up</span></a>
        <a href="/question/${_question.getId()}/answer/${_post.getId()}/vote/down"><span class="vote_button">down</span></a>
        #{/if}
        #{else}
        <a href="/question/${_post.getId()}/vote/up"><span class="vote_button">up</span></a>
        <a href="/question/${_post.getId()}/vote/down"><span class="vote_button">down</span></a>
        #{/else}
    #{/else}
</div>
#{/secure.check}
