#{secure.check ''}
<div class="votebox">        
        #{if _mode == 'answer'}
        <a href="/question/${_question.getId()}/answer/${_post.getId()}/vote/up"><img src="/public/images/up.png" /></a>
        <p class="score">${_post.getScore()}</p>
        <a href="/question/${_question.getId()}/answer/${_post.getId()}/vote/down"><img src="/public/images/down.png" /></a>
        #{/if}
        #{else}
        <a href="/question/${_post.getId()}/vote/up"><img src="/public/images/up.png" /></a>
        <p class="score">${_post.getScore()}</p>
        <a href="/question/${_post.getId()}/vote/down"><img src="/public/images/down.png" /></a>
        #{/else}
</div>
#{/secure.check}