<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/style.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/layout.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon2.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
		#{script 'kb.js' /}
		#{script 'highlight.js' /}

		<script type="text/javascript" charset="utf-8">
		<!--
			var state = "${session.state}";

			if ( state == "recent" ) {
				setHeadline('#questions_headline', 'test');
				showRecent();
			} else if ( state == "search" ) {
				var text = "${session.text}";
				var menu = "${session.menu}";
				search(text, menu);
			} else {
				showAll();
			}
		-->
		</script>
    </head>
    <body>
    	<div id="root">
    		<div id="head">
			   <div id="statusbox">
                    #{if session.uid}
                        Logged in as: ${session.get("username")}
                        <a href="@{Secure.logout()}">logout</a>
                    #{/if}
                    #{else}
                        <a href="@{UserController.showRegister()}">register</a> |
                        <a href="@{Secure.login()}">login</a>
                    #{/else}
                </div>

				<div id="search">
					<form action="javascript:submit_search()">
							<select name="menu" id="search_mode">
								<option value="similarQuestion">Find Question</option>
								<option value="similarUser">Find User</option>
							</select>

							<input size="15" type="text" name="text" id="search_text" value="" />
							<input type="submit" value="search" />
					</form>
                </div>

                #{if session.uid}
                <div id="menu">
					<a href="/"><img src="/public/images/home.png" /></a>
                    <ul>
                    <li><a href="@{MutateQuestionController.showQuestionForm()}">add question</a></li>
                    <li><a href="javascript:showRecent()">recent questions</a></li>
                    <li><a href="@{UserController.showUser(session.username)}">my profile</a></li>
                    <li><a href="@{Application.showState()}">statistics</a></li>
                    #{if isChanged}
                    <li><a href="@{ExtendedUserController.showNotifications()}">something happened</a></li>
                    #{/if}
                    </ul>
                </div>
                #{/if}
            </div>

            <div id="content">
                <div id="questions_box">
					<h2 id="questions_headline"></h2>

					<div id="questions">
					</div>
                </div>
				<div id="details_box">
					<h2 id="details_headline"></h2>

					<div id="details">
                    #{doLayout /}
					</div>
				</div>
            </div>

            <div id="footer">
            </div>
        </div>
    </body>
</html>
