#{extends 'main.html' /}
#{set title:'ESE KB - edit user Group' /}
<h2>All users</h2>
<h4>${message}</h4>
<table>
<tr>
	<td>username</td>
	<td>email</td>
	<td>password</td>
	<td>user group</td>
	<td>edit</td>
</tr>
#{list items:users, as:'user'}
    <tr>
		<td>${user.getName()}</td>
		<td>${user.getEmail()}</td>
		<td>${user.getPassword()}</td>
		<td>
			<form action="@{Admin.editUserGroup(user, group)}" method="GET">
				#{if user.getGroup().name()=="admin"}
					<input type="radio" name="group" value="admin" checked >Admin</input>
					<input type="radio" name="group" value="moderator">Moderator</input>
					<input type="radio" name="group" value="user">User</input>
				#{/if}
				#{else}
					#{if user.getGroup().name()=="moderator"}
						<input type="radio" name="group" value="admin">Admin</input>
						<input type="radio" name="group" value="moderator" checked >Moderator</input>
						<input type="radio" name="group" value="user">User</input>
					#{/if}
					#{else}
						<input type="radio" name="group" value="admin">Admin</input>
						<input type="radio" name="group" value="moderator">Moderator</input>
						<input type="radio" name="group" value="user" checked>User</input>
					#{/else}
				#{/else}
				<input type="submit" value="Save" />	
			</form>
		</td>
	</tr>
#{/list}
</table>