#{extends 'main.html' /}
#{set title:'ESE KB - Edit question' /}
<a href="javascript:history.back()">back</a>
<h2>Edit question</h2>
<form action="@{Admin.editQuestion(question.getId())}" method="GET">
 <table>
		<tr>
			<h1>
			question :</h1><td><textarea id="newContent" name="newContent">${question.getContent()}</textarea></td>
		</tr>
		<tr><h1>
			tag :</h1><td><textarea id="newContent" name="newContent">${question.getContent()}</textarea></td>
			<td><input type="submit" value="Save!" /></td>
		</tr>
	</table>
</form>