#{extends 'main.html' /}
#{set title:'ESE KB - Edit question' /}

<a href="javascript:history.back()">back</a>

#{if comment.ownerIs(session.uid)}
<h2>Edit comment</h2>

<div class="form">
	<form action="@{Admin.editComment(comment, qid, cid)}" method="GET">
		<ul>
			<li>
				<label for="newContent">Comment:</label>
				<textarea id="newContent" name="newContent" cols="40" rows="4">${CommentContent}</textarea>
			</li>
			<li>
				<input type="submit" value="Save!" />
			</li>
		</ul>
	</form>
</div>

#{/if}

#{else}
<h4>${message}</h4>
#{/else}
