#{extends 'main.html' /}
#{set title:'ESE KB - Edit question' /}
<a href="javascript:history.back()">back</a>
<fieldset>
 <legend>Edit question:</legend>
	<form action="@{Admin.editQuestion(question.getId())}" method="GET">
	<table>
		<tr>
		<h4 style="color:#c00">${message}</h4>
			<td>Question:</td>
				<td>
				#{ifnot newContent}
				<textarea id="newContentQuestion" name="newContentQuestion" cols="70" rows="5">${question.getContent()}</textarea>
				#{/ifnot}
				#{else}
				<textarea id="newContentQuestion" name="newContentQuestion" cols="70" rows="5">${newContent}</textarea>
				#{/else}
				</td>
		</tr>
		<tr>
			<td>Tags:</td>
			<td>
				#{ifnot tags}
					<textarea id="newContentTag" name="newContentTag" type="text" size="61" maxlength="200" value="${tags}">${question.getTagsString()}</textarea>
				#{/ifnot}
				#{else}
					<textarea id="newContentTag" name="newContentTag" type="text" size="61" maxlength="200" value="${tags}">${tags}</textarea>
				#{/else}
			</td>
			
			</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Save!" /></td>
		</tr>
	</table>
	</form>
</fieldset>