#{extends 'main.html' /}
#{set title:'ESE KB - Edit question' /}
<a href="javascript:history.back()">back</a>
#{if answer.ownerIs(session.uid)}
<fieldset>
 <legend>Edit answer:</legend>
	<form action="@{Admin.editAnswer(answer.getId(), qid)}" method="GET">
	<table>
		<tr>
			<td>Answer:</td>
				<td><textarea id="newContent" name="newContent" cols="70" rows="5">${answer.getContent()}</textarea></td>
		</tr>
			<td></td>
			<td><input type="submit" value="Save!" /></td>
		</tr>
	</table>
	</form>
</fieldset>
#{/if}
#{else}<h4>${message}</h4>
#{/else}