#{extends 'main.html' /}
#{set title:'ESE KB - Add a new question' /}
<a href="/">back</a>
<h2>Add a new Question</h2>
<fieldset>
 <legend>Add new Question:</legend>
	<form action="@{Admin.addQuestion()}" method="GET">
	<table>
		<tr>
			<td>Enter your Question:</td>
			<td><textarea id="newQuestion" name="newQuestion" cols="70" rows="5"></textarea></td>
		</tr>
		<tr>
			<td>Add tags (separated by spaces):</td>
			<td><input id="tags" name="tags" type="text" size="61" maxlength="200"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Post your Question!" /></td>
		</tr>
	</table>
	</form>
</fieldset>

