#{extends 'main.html' /}
#{set title:'ESE KB - Add a new question' /}

<h2>Add a new Question</h2>

<h4 style="color:#c00">${message}</h4>

<div class="form">
	<form action="@{MutateQuestionController.addQuestion()}" method="GET">
	<ul>
		<li>
			<label for="newQuestion">Your Question</label>
			<textarea id="newQuestion" name="newQuestion" cols="50" rows="5"></textarea>
		</li>

		<li>
			<label for="tags">Add tags (separated by spaces):</label>
			<input id="tags" name="tags" type="text" size="40" maxlength="200" value="${tags}">
		</li>

		<li>
			<input type="submit" value="Post your Question!" />
		</li>
	</form>
</div>
