#{extends 'main.html' /}

<script type="text/javascript" charset="utf-8">
		<!--
			setHeadline('#details_headline', 'Add new question');
		-->
</script>

<h4 style="color:#c00">${message}</h4>

<div class="form">
	<form action="@{MutateQuestionController.addQuestion()}" method="GET">
	<ul>
		<li>
			<label for="newQuestion">Your Question</label>
			<textarea id="newQuestion" name="newQuestion" cols="50" rows="5"></textarea>
		</li>

		<li>
			<label for="tags">Add tags (separated by spaces):</label>
			<input id="tags" name="tags" type="text" size="48" value="${tags}" />
		</li>

		<li>
			<input type="submit" value="Post your question!" />
		</li>
	</form>
</div>
