#{extends 'main.html' /}

<script type="text/javascript" charset="utf-8">
		<!--
			setHeadline('#details_headline', 'Question #${question.getId()}');
		-->
</script>

#{question question:question /}

<h2>Answers</h2>

<!--List of all answers-->
#{list items:answers, as:'answer'}
#{answer answer:answer, question:question /}
#{/list}

#{if answers == null}
	<p>none yet.</p>
#{/if}

<!--Answer form-->
<h2>Add your answer</h2>

<h4 style="color:#c00">${message}</h4>

<div class="form">
	<form action="@{MutateAnswerController.addAnswer(question.getId())}" method="GET">
		<ul>
			<li>
				<label for="newAnswer">Your answer</label>
				<textarea id="newAnswer" name="newAnswer" cols="40" rows="5"></textarea>
			</li>
			<li>
				<input type="submit" value="Post your answer!" />
			</li>
		</ul>
	</form>
</div>

<!-- show similar questions -->
<hr />

#{if similar}
<h3>Similar questions:</h3>
#{list items:similar, as:'similarQuestion'}
	#{short_post post:similarQuestion /}
#{/list}
#{/if}
