#{extends 'main.html' /}

<script type="text/javascript" charset="utf-8">
		<!--
			setHeadline('#details_headline', 'Question #${question.getId()}');
		-->
</script>

#{question question:question /}

<h2>Answers</h2>

<!--List of all answers-->
#{list items:answers, as:'answer'}
#{answer answer:answer, question:question /}
#{/list}

#{if answers == null}
	<p>none yet.</p>
#{/if}

<!--Answer form-->
#{if session.uid}
<h2>Add your answer</h2>

<h4 style="color:#c00">${message}</h4>

<div class="form">
	<form action="@{MutateAnswerController.addAnswer(question.getId())}" method="GET">
		<ul>
			<li>
				<label for="newAnswer">Your answer</label>
				<textarea id="newAnswer" name="newAnswer" cols="40" rows="5">${newAnswer}</textarea>
			</li>
			<li>
				Please type the code below <br />
				<img src="@{Application.captcha(randomID)}" /> <br />
				<input type="text" name="code" id="code" size="18" value="" />
    			<input type="hidden" name="randomID" value="${randomID}" />
			</li>
			<li>
				<input type="submit" value="Post your answer!" />
			</li>
		</ul>
	</form>
</div>
#{/if}

<div id="similar">
	<a href="javascript:showSimilar(${question.getId()})">Show similar questions</a>
</div>
