#{extends 'main.html' /}
#{set title:'ESE KB - Home' /}
#{if user}
<p align="right">
<p align="right">
<font color = "#c00">You are logged in as: ${session.get("username")}</font> |
<a href="@{Secure.logout()}">logout</a>
</p>
<p align="right">
<a href="@{Admin.showQuestionForm()}">add new Question</a> |
<a href="@{Application.showRecentQuestionsByNumber()}">newest questions</a> |
<a href="@{Admin.showUserLog(session.get("username"))}">show my activities</a>  |
<a href="@{Application.showUserProfile()}">edit user profile</a> | 
<a href="@{Application.showState()}">statistics</a>
</p>
</p>
#{/if}
#{else}
<p align="right">
<a href="@{Application.showRegister()}">register</a> |
<a href="@{Secure.login()}">login</a>
</p>
#{/else}

<h2> Questions in the ESE KB</h2>
#{if user}
	Your current Reputation: ${score}
#{/if}
<h3>${message}</h3>

#{list items:questions, as:'question'}
	<fieldset>
	<p>
    	<a href="@{Application.showAnswers(question.getId())}" />
    		${question.getHtml().raw()}
    	</a>
    </p>
   	<p style="font-size:8pt">
   		by ${question.getOwner()}
   		#{avatar user:question.getOwner() /}
   	<p>
   	<br />
	#{if user}
		#{if question.ownerIs(session.uid)}
		<p style="font-size:8pt">You can't rate your own post!</p>
   		#{/if}
   		#{else}
   		<form id="vote" action="@{Admin.voteQuestion(question.getId())}" method="GET">
   		<p style="font-size:8pt">Score: ${question.getScore()} Vote: <input id="up" type="submit" value ="1" name="vote" /> <input id="up" type="submit" value ="-1" name="vote" /></p>
   		</form>
   		#{/else}
   	#{/if}

   	<legend class="question" align="bottom">${question.getTimestamp()}</legend>
    </fieldset>
#{/list}