#{extends 'main.html' /}
#{set title:'ESE KB - recent questions' /}
<h2> Questions recently asked</h2>
<h3>${message}</h3>
#{list items:recentQuestions, as:'question'}
	<fieldset>
    <a href="@{Application.showAnswers(question.getId())}"/><h3>${question.getContent()}<h3></a>
   	<p style="font-size:8pt">by ${question.getOwner()}<p>
   	<br />
   	<form id="vote" action="@{Admin.voteQuestion(question.getId())}" method="GET">
   		<p style="font-size:8pt">Score: ${question.getScore()} Vote: <input id="up" type="submit" value ="1" name="vote" /> <input id="up" type="submit" value ="-1" name="vote" /></p>
   	</form>
   	<legend class="question" align="bottom">${question.getTimestamp()}</legend>
    </fieldset>
#{/list}