#{extends 'main.html' /}
#{set title:'ESE KB - Search' /}
<a href="/">back</a>
<form action="@{Application.Search()}" method="GET">
	<br>
	<input type="text" name="text" value="${text}"><input type="submit" value="Search" /><br>
	<p style="font-size:8pt">Order: QuestionTags-->QuestionContent-->AnswerContent-->Comments</p>
	<br>
	<br>
</form>
<h3 style="color:#c00">${message}</h3>

#{list items:questionTagResults, as:'question'}
<fieldset>
	<p><a href="@{Application.showAnswers(question.getId())}" />${question.getHtml().raw()}</a></p>
	<p style="font-size:8pt">
		by ${question.getOwner()}
		#{avatar user:question.getOwner() /}
	</p>
	<p style="font-size:8pt">Score: ${question.getScore()}</p>
	<legend class="question" align="bottom">Tag / ${question.getTimestamp()}</legend>
	<h6>Tags:
	#{ifnot question.getTags()}
		none
	#{/ifnot}
	#{list items:question.getTags(), as:'tag'}
		#${tag} 
	#{/list}
	</h6>
</fieldset>
#{/list}

#{list items:questionContentResults, as:'question'}
<fieldset>
	<p><a href="@{Application.showAnswers(question.getId())}" />${question.getHtml().raw()}</a></p>
	<p style="font-size:8pt">
		by ${question.getOwner()}
		#{avatar user:question.getOwner() /}
	</p>
	<p style="font-size:8pt">Score: ${question.getScore()}</p>
	<legend class="question" align="bottom">Question / ${question.getTimestamp()}</legend>
	<h6>Tags:
	#{ifnot question.getTags()}
		none
	#{/ifnot}
	#{list items:question.getTags(), as:'tag'}
		#${tag} 
	#{/list}
	</h6>
</fieldset>
#{/list}

#{list items:answerContentResults, as:'answer'}
<fieldset>
	#{if answer.isBestAnswer()}
	<span class="bestanswer">Best answer according to OP</span>
	#{/if}
	<p><a href="@{Application.showAnswers(question.getId())}" />${answer.getHtml().raw()}</a><p>
	<p style="font-size:8pt">
		by ${answer.getOwner()}
		#{avatar user:answer.getOwner() /}
	</p>
	<p style="font-size:8pt">Score: ${answer.getScore()}</p>
	<legend class="question" align="bottom">Answer / ${answer.getTimestamp()}</legend>
</fieldset>
#{/list}

#{list items:commentResults, as:'comment'}
<fieldset>
	<p style="font-size:11pt">${comment.getContent()}</p>
	<p style="font-size:8pt">by ${comment.getOwner()}</p>
	<br>
	<a href="@{Application.showAnswers(comment.getCommentedVotable().getId())}"/><h6>-->Link to Commented Question/Answer</h4></a>
	<legend class="question" align="bottom">Comment / ${comment.getTimestamp()}</legend>
</fieldset>
#{/list}