#{extends 'main.html' /}
#{set title:'ESE KB - Edit User Profile' /}
<a href="/">back</a>
<h2>Edit your User Profile</h2>
<h3 style="color:#c00">${message}</h3>
#{list items:currentUser, as:'user'}
<fieldset>
 <legend>Edit your Profile:</legend>
	<form action="@{Application.editUserProfile()}" method="GET">
	<table>
		<tr>
			<td><font color = "#c00">Your current User Name: ${user.getName()}</font></td>
		</tr>
		<tr>
			<td>New Username: <input type="text" name="name" value="${name}" /></td>
			
		</tr>
		<tr>
			<td><font color = "#c00">Your current Birthdate: ${user.getBirthdate()}</font></td>
		</tr>
		<tr>
			<td>New Birthdate: <input type="text" name="birthdate" value="${birthdate}" /></td>
		</tr>
		<tr>
			<td><font color = "#c00">Your current Email: ${user.getEmail()}</font></td>
		</tr>
		<tr>
			<td>New Email: <input type="text" name="email" value="${email}" /></td>
		</tr>
		<tr>
			<td><font color = "#c00">Your current Phone Number: ${user.getPhone()}</font></td>
		</tr>
		<tr>
			<td>New Phone Number: <input type="text" name="phone" value="${phone}" /></td>
	
		</tr>
		<tr>
			<td><font color = "#c00">Your current Password: ${user.getPassword()}</font></td>
		</tr>
		<tr>
			<td>New Password: <input type="password" name="password" value="${password}" /></td>
		</tr>
		<tr>
			<td>New Password again: <input type="password" name="password2" value="${password2}" /></td>
		</tr>
		<tr>
			<td><font color = "#c00">Your current Address: ${user.getStreet()} ${user.getTown()}</font></td>
		</tr>
		<tr>
			<td>New Street: <input type="text" name="street" value="${street}" /></td>
		</tr>
		<tr>
			<td>New Town: <input type="text" name="town" value="${town}" /></td>
		</tr>
		<tr>
			<td><font color = "#c00">Your current Hobbies: ${user.getHobbies()}</font></td>
		</tr>
		<tr>
			<td>New Hobbies: <textarea id="hobbies" name="hobbies" value="${hobbies}"></textarea></td>
		</tr>
		<tr>
			<td><font color = "#c00">Your current Moto: ${user.getMoto()}</font></td>
		</tr>
		<tr>
			<td>New Moto: <textarea id="moto" name="moto" value="${moto}"></textarea></td>
		</tr>
		<tr>
			<td><font color = "#c00">Your current technical Background: ${user.getBackground()}</font></td>
		</tr>
		<tr>
			<td>New technical Background: <textarea id="background" name="background" value="${background}"></textarea></td>
		</tr>
		<tr>
			<td><font color = "#c00">Your current favourite Quote: ${user.getQuote()}</font></td>
		</tr>
		<tr>
			<td>New favourite Quote: <textarea id="quote" name="quote" value="${quote}"></textarea></td>
		</tr>
		<tr>
			<td><input type="submit" value="Save" /></td>
		</tr>
	</table>
	</form>
</fieldset>
#{/list}