#{extends 'main.html' /}
#{set title:'ESE KB - Edit User Profile' /}
<a href="/">back</a>
<h2>Edit your User Profile</h2>
<h3 style="color:#c00">${message}</h3>
#{list items:currentUser, as:'user'}
<fieldset>
 <legend>Edit your Profile:</legend>
	<form action="@{Application.editUserProfile()}" method="GET">
	<table>
		<tr>
			<td valign="top">Username:</td> 
			<td><input type="text" name="name" value="${name}"></td>
		</tr>
		<tr>
			<td valign="top">Password:</td> 
			<td><input type="password" name="password" value="${password}" /></td>
		</tr>
		<tr>
			<td valign="top">Password again:</td> 
			<td><input type="password" name="password2" value="${password2}" /></td>
		</tr>
		<td></td><td></td>
		<tr>
		</tr>
		<tr>
			<td valign="top">Email:</td> 
			<td><textarea rows="1"  cols="18" id="email" name="email" value="${email}">${user.getEmail()}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Phone:</td> 
			<td><textarea rows="1" cols="18" id="phone" name="phone" value="${phone}">${user.getPhone()}</textarea></td>
	
		</tr>
		<tr>
			<td valign="top">Birthdate:</td> 
			<td><textarea rows="1" cols="18" id="birthdate" name="birthdate" value="${birthdate}">${user.getBirthdate()}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Street:</td> 
			<td><textarea rows="1"  cols="18" id="street" name="street" value="${street}">${user.getStreet()}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Town:</td> 
			<td><textarea rows="1" cols="18" id="town" name="town" value="${town}">${user.getTown()}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Hobbies:</td> 
			<td><textarea rows="3" cols="36" id="hobbies" name="hobbies" value="${hobbies}">${user.getHobbies()}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Moto:</td> 
			<td><textarea rows="3" cols="36" id="moto" name="moto" value="${moto}">${user.getMoto()}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Technical Background:</td> 
			<td><textarea rows="3" cols="36" id="background" name="background" value="${background}">${user.getBackground()}</textarea></td>
		</tr>
		<tr>
			<td valign="top">Favourite Quote: </td> 
			<td><textarea rows="3" cols="36" id="quote" name="quote" value="${quote}">${user.getQuote()}</textarea></td>
		</tr>
		<tr>
			<td><input type="submit" value="Save" /></td>
		</tr>
	</table>
	</form>
</fieldset>
<fieldset>
	<legend>Avatar</legend>
	
	#{if user.hasAvatar()}
	<img src="/public/images/avatars/${user.getAvatarFileName()}" title="your avatar" alt="your avatar" />
	#{/if}
	#{else}
	<p>No avatar set yet.</p>
	#{/else}
	
	<form action="@{Application.setAvatar()}" method="POST" enctype="multipart/form-data">
		<input type="file" name="avatar" id="avatar" accept="image/*" />
		<input type="submit" value="Upload" />
	</form>
</fieldset>
#{/list}