#{extends 'main.html' /}
#{set title:'ESE KB - version history' /}	
<a href="/">home</a>

<h2>Newest version:</h2>

${post.getContent()}

<h2>History:</h2>
<p style="color:#c00">Size: ${history.size()} </p>
#{list items:history, as:'oldPost'}
	${oldPost.getContent()} 
	#{if type=="question"}
		<a href="@{Admin.restoreQuestion(post.getId(), oldPost.getContent())}">restore</a>
	#{/if}
	#{else} 
		<a href="@{Admin.restoreAnswer(post.getId(), oldPost.getContent())}">restore</a>	
	#{/else}
	<br/>
#{/list}