#{extends 'main.html' /}
#{set title:'ESE KB Answers' /}

<a href="/">back</a>
<fieldset>
	<p>${question.getContent()}</p>
	<p style="font-size:8pt">by ${question.getOwner()}</p>
	<legend class="question" align="bottom">${question.getTimestamp()}</legend>
</fieldset>
<a href="/question/${question.getId()}/addAnswer"/>Post your Answer</a>

<br />

#{list items:answers, as:'answer'}
	<fieldset>
	    #{if answer.isBestAnswer()}
	    <span class="bestanswer">Best answer according to OP</span>
	    #{/if}
	   
	    <p>${answer.getContent()}<p>
	   
	    <p style="font-size:8pt">by ${answer.getOwner()}</p>
	   	
	    #{ifnot session.get("username")==answer.owner}
	    <form id="vote" action="@{Admin.voteAnswer(question.getId(),answer.getId())}" method="GET">
	    <p style="font-size:8pt">Score: ${answer.getScore()} Vote: <input id="aid" type="submit" value ="1" name="vote" /> <input id="aid" type="submit" value ="-1" name="vote" /></p>
	    </form>
	    #{/ifnot}
	   	
	    #{if question.isOwner(session.uid) && question.bestAnswerChangeable() && !answer.isBestAnswer()}
	    <a href="/question/${question.getId()}/setbestanswer/${answer.getId()}">
	    Select as best answer.</a>
	    #{/if}
		
	   	<legend class="question" align="bottom">${answer.getTimestamp()}</legend>
   	
    </fieldset>
#{/list}