#{extends 'main.html' /}
#{set title:'ESE KB - Home' /}

<a href="/">back</a>
<fieldset>
	<table width="100%">
		<tr>
			<th>
				<h3>Total number of users:<h3>
				<h3>Total number of questions:<h3>
				<h3>Total number of answers:<h3>
				<h3>Total number of comments:<h3>
				<h3>Total number of tags:<h3>
			</th>
			<th>
				<h3>${userCount}<h3>
				<h3>${questionCount}<h3>
				<h3>${answerCount}<h3>
				<h3>${commentCount}<h3>
				<h3>${tagCount}<h3>
			</th>
		</tr>
	</table>
</fieldset>
