#{extends 'main.html' /}
#{set title:'ESE KB - Register' /}
<a href="/">back</a>
<h2>Register</h2>
<h4>${message}</h4>
<fieldset>
 <legend>Register:</legend>
	<form action="@{Application.register()}" method="GET">
	<table>
		<tr>
			<td>Username</td>
			<td><input type="text" name="name" value="${name}" /></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" value="${email}" /></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="password" value="${password}" /></td>
		</tr>
		<tr>
			<td>Password again</td>
			<td><input type="password" name="password2" value="${password2}" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Register" /></td>
		</tr>
	</table>
	</form>
</fieldset>
