#{extends 'main.html' /}
#{set title:'ESE KB Answers' /}

<a href="/">back</a>

<h2>Question #${question.getId()}</h2>
#{question question:question /}
	<!--List of comments--!>
	#{list items:question.getComments(), as:'comment'}
		<p style="font-size:11pt">${comment.getContent()}</p>
		<p style="font-size:8pt">by ${comment.getOwner()}</p>
		<p style="font-size:8pt">at ${comment.getDate()}</p>
	#{/list}
</fieldset>
<!--Link zu add answer - auskommentiert!-->
<!--<a href="/question/${question.getId()}/addAnswer"/>Post your Answer</a>-->

<h2>Answers</h2>

<!--List of all answers-->
#{list items:answers, as:'answer'}
	#{answer answer:answer, question:question /}
#{/list}

<!--Answer form-->
<fieldset>
 <legend>Your Answer</legend>
	<form action="@{Admin.addAnswer(question.getId())}" method="GET">
	<table>
		<tr>
			<td>Enter your Answer:</td>
			<td><textarea id="newAnswer" name="newAnswer" cols="90" rows="5"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Post your Answers!" /></td>
		</tr>
	</table>
	</form>
</fieldset>
