#{extends 'main.html' /}
#{set title:'ESE KB - version history' /}	
<a href="/">home</a>

<h2>Newest version:</h2>
#{if type=="question"}
	#{question question:post /}
#{/if}
#{else}
	#{answer answer:post,question:post.getQuestion() /}
#{/else}

<h2>History:</h2>
<p style="color:#c00">You have changed this post ${history.size()} times! </p>
#{list items:history, as:'oldPost'}
	<hr />
	#{if type=="question"}
		<p style align="right">
		<a href="@{MutateQuestionController.restoreQuestion(post.getId(), oldPost.getContent(), oldPost.getTags())}">restore</a></p>
		#{question question:oldPost /}
	#{/if}
	#{else}
		<p style align="right">
		<a href="@{Admin.restoreAnswer(post.getId(), oldPost.getContent())}">restore</a></p>
		#{answer answer:oldPost,question:oldPost.getQuestion() /} 
	#{/else}
	<br/>
#{/list}