#{extends 'main.html' /}
#{set title:'ESE KB - Edit User Information' /}
<a href="/">back</a>
<h2>Edit User Information</h2>
<h3>${message}</h3>
#{list items:informationOwner, as:'user'}
<fieldset>
 <legend>Edit:</legend>
	<form action="@{Application.editInformation(message)}" method="GET">
	<table>
		<tr>
			<td valign="top">Username:</td>
			<td><input type="text" name="name" value="${name}"></td>
		</tr>
		<tr>
			<td valign="top">Password:</td>
			<td><input type="password" name="password" value="${password}" /></td>
		</tr>
		<tr>
			<td valign="top">Password again:</td>
			<td><input type="password" name="password2" value="${password2}" /></td>
		</tr>
		<td></td><td></td>
		<tr>
		</tr>
		<tr>
			<td valign="top">Email:</td>
			<td><textarea rows="1"  cols="18" id="email" name="email" value="${email}">${user.getEmail()}</textarea></td>
		</tr>
		<tr>
			<td><input type="submit" value="Save" /></td>
		</tr>
	</table>
	</form>
</fieldset>

#{/list}
