#{extends 'main.html' /}
#{set title:'ESE KB - Edit question' /}
<a href="javascript:history.back()">back</a>

<h2>Edit answer</h2>

#{if message}
<h4 style="color:#c00">${message}</h4>
#{/if}

<div class="form">
	<form action="@{MutateAnswerController.editAnswer(answer.getId(), qid)}" method="GET">
		<ul>
			<li>
				<label for="newContent">Answer:</label>
				<textarea id="newContent" name="newContent" cols="70" rows="5">${answer.getContent()}</textarea>
			</li>
			<li>
				<input type="submit" value="Save!" />
			</li>
		</ul>
	</form>
</div>
