#root {
}

#head {
	background: #AA00A2;
	border-bottom: thick solid #D460CF;
	padding: .5em;
	min-height: 1.8em;
	color: #FFF;
}

#content {
	width: 1060px;
	margin: 0 auto;
}

#questions_box {
	width: 480px;
	margin: 0;
	padding: 0;
	float: left;
}

#questions {
	height: 510px;
	padding: .6em;
	overflow: auto;
}

#details_box {
	width: 560px;
	margin: 0;
	margin-left: .5em;
	float: right;

}

#details {
	height: 510px;
	padding: .3em;
	overflow: auto;
}

#search {
	width: 30%;
	float: right;
}

#subtitle {
	font-size: small;
	color: #D460CF;
}

#statusbox {
	text-align: right;
	padding: .2em;
	float: right;
}

#menu {
	width: 60%;
	padding: .2em;
}

#footer {
	clear: both;
}
