body {
	background: #EEE;
	font-family: Sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #900;
}

img {
	border: 0;
}

/*
 *
 */
#menu ul li a, #statusbox a {
	color: #AA00A2;
	background: #D460CF;
	padding: 0 .2em 0 .2em;
	font-size: small;
}

#menu ul li a:hover, #statusbox a:hover {
	color: #D460CF;
	background: #AA00A2;
	padding: 0 .2em 0 .2em;
}

#head h1 {
	color:#FFF;
	font-family: Georgia, serif;
	margin: 0;
	float: right;
	padding-right: 5em;
	text-shadow: #444 2px 2px;
}

#content h2 {
	margin-bottom: 0
}

#menu ul {
	margin: 0;
	margin-left: 1em;
	padding: 0;
	display: inline;
}

#menu li {
	display: inline;
}

div.toolbox a {
	padding: 0 .2em 0 .2em;
}

div.toolbox a:hover {
	background: #ED1C24;
}

td {
	padding: 1em;
}

/*
 * divisions
 */

div.userbox {
	float: right;
}

div.question {
	width: 80%;
	border-radius: 7px;
	background: #9BF33D;
	margin: 1em 0 1em 0;
	padding: .7em;
	border: thick solid #78E700;
}

div.answer {
	width: 80%;
	border-radius: 7px;
	background: #FFF773;
	margin: 1em 0 1em 0;
	padding: .7em;
	border: thick solid #FFF100;
}

div.best_answer {
	border-radius: 7px;
	background: #FFF7D73;
	margin: 1em;
	padding: 1em;
	border: thick solid #FF1300;
}

div.comments {
	width: 60%;
	margin: 0 1em 1em 3em;
	padding: 0 1em 0 1em;
	font-size: small;
	border-left: medium solid #CCC;
}

div.comment {
	margin: .6em 0 0 .6em;
}

div.question_text {
	width: 75%;
	margin: .2em 0 .2em 0;
	border-top: thin solid #78E700;
	border-bottom: thin solid #78E700;
}

div.answer_text {
	width: 75%;
	margin: .5em 0 .5em 0;
	border-top: thin solid #FFF100;
	border-bottom: thin solid #FFF100;
}

div.short_post {
	border-radius: 7px;
	background: #9BF33D;
	border: medium solid #78E700;
	margin: .5em 0 .8em 0;
	padding: .3em .5em .3em .5em;
}

div.short_post_text {
	padding-right: 1em;
}
div.short_post_info {
	width: 35%;
	font-size: smaller;
	float: right;
	text-align: right;
	line-height: 1.4em;
}

div.short_answer {
	width: 68%;
	border-radius: 7px;
	background: #FFF773;
	border: medium solid #FFF100;
	margin: .5em 0 .5em 1em;
	padding: .2em .5em .2em .5em;
}

div.short_answer_text {
	width: 70%;
}
div.short_answer_info {
	width: 40%;
	font-size: smaller;
	float: right;
	text-align: right;
}

div.form {
	width: 400px;
	margin: 1em;
}

p.comment_text {
	border-radius: 7px;
	border: thin solid #CCC;
	margin: 0;
	padding: .5em;
	background: #EEB;
}

div.log {
	width: 450px;
}

div.log_entry {
	border-radius: 7px;
	background: #ED1C24;
	margin: 1em;
	padding: 1em;
	border: thick solid #B70F17;
}

div.votebox {
	margin-right: 1.4em;
	float: right;
}

div.toolbox {
	display: inline;
}

div.tagbox {
	display: inline;
	font-size: small;
	line-height: 1.5em;
}

div.short_post > div.tagbox {
	display: block;
	margin-top: .3em;
	padding-top: .4em;
	border-top: thin solid #78E700;
}

div.flash {
	border-radius: 7px;
	padding: 0.5em;
	margin: 1em 3em 0.2em 3em;
}

div.error {
	border: medium solid #F00;
	background: #FF7373;
}

div.success {
	border: medium solid #0F0;
	background: #67E46F;
}

/*
 * paragraphs
 */

p.show { display: block }

p.hide { display: none; }

.adminbutton {display:none;}

p.score {
	font-size: x-large;
	font-weight: bold;
	margin: .4em;
	margin-left: .3em;
	padding: 0;
}


/**
 * spans
 */

span.bestanswer {
	color: #FFF;
	padding: .1em .4em .1em .4em;
	background: red;
	margin-left: 2em;
	font-weight: bold;
}

span.bestanswer_select {
	color: #000;
	padding: .1em .4em .1em .4em;
	margin-left: 2em;
	background: #78E700;
	font-weight: bold;
}

span.vote_button {
	padding: .1em .4em .1em .4em;
	background: red;
	color: #FFF;
	font-size: small;
}

span.date {
	font-size: small;
}

span.tag {
	padding: .1em .4em .1em .4em;
	background: #ED1C24;
	color: #FFF;
}

span.highlight {
	background: #F00;
	color: #FFF;
}

span.likes {
	display: block;
	margin-top: 7px;
}

span.no.likes {
	display: none;
}

/*
 * form stuff
 */

div.form label {
	display: block;
}

div.form ul {
	padding: 0;
	list-style: none outside;
}

div.form ul li {
	margin-bottom: 1em;
}

div.form input[type="text"], input[type="password"] {
}

/*
 * Tables
 */
table > tr {
	border: thin solid #000;
}

table tr td {
	margin: 0;
	padding: .5em;
}
