body {
	background: #EEE;
	font-family: Sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #900;
}

img {
	border: 0;
}

#head a {
	color: #AA00A2;
	background: #D460CF;
	padding: 0 .2em 0 .2em;
	font-size: small;
}

#head a:hover {
	color: #D460CF;
	background: #AA00A2;
	padding: 0 .2em 0 .2em;
}

#head h1 {
	color:#FFF;
	font-family: Georgia, serif;
	margin: 0;
	float: right;
	padding-right: 5em;
	text-shadow: #444 2px 2px;
}

#content h2 {
	margin-bottom: 0
}

#toolbox ul {
	display: inline;
}

#toolbox li {
	display: inline;
}

td {
	padding: 1em;
}

ul {
	margin-left: 1em;
}

div.userbox {
	float: right;
}

div.question {
	box-shadow:2px 2px 10px #666;
	border-radius: 7px;
	background: #9BF33D;
	margin: 1em;
	padding: .7em;
	border: thick solid #78E700;
}

div.answer {
	box-shadow:2px 2px 10px #666;
	border-radius: 7px;
	background: #FFF773;
	margin: 1em;
	padding: .7em;
	border: thick solid #FFF100;
}

div.best_answer {
	border-radius: 7px;
	background: #FFF7D73;
	margin: 1em;
	padding: 1em;
	border: thick solid #FF1300;
}

div.comments {
	width: 60%;
	margin: 0 1em 1em 3em;
	padding: 0 1em 0 1em;
	font-size: small;
	border-left: medium solid #CCC;
}

div.comment {
	margin: .6em 0 0 .6em;
}

div.question_text {
	width: 80%;
	margin: .2em 0 .2em 0;
	border-top: thin solid #78E700;
	border-bottom: thin solid #78E700;
}

div.answer_text {
	width: 80%;
	margin: .5em 0 .5em 0;
	border-top: thin solid #FFF100;
	border-bottom: thin solid #FFF100;
}

div.short_post {
	box-shadow:2px 2px 10px #666;
	border-radius: 7px;
	background: #9BF33D;
	border: medium solid #78E700;
	margin: .5em 0 .8em 0;
	padding: .3em .5em .3em .5em;
}

div.short_post_text {
	width: 65%;
	padding-right: 1em;
}
div.short_post_info {
	width: 35%;
	font-size: smaller;
	float: right;
	text-align: right;
	line-height: 1.4em;
}

div.short_answer {
	box-shadow:2px 2px 10px #666;
	width: 68%;
	border-radius: 7px;
	background: #FFF773;
	border: medium solid #FFF100;
	margin: .5em 0 .5em 1em;
	padding: .2em .5em .2em .5em;
}

div.short_answer_text {
	width: 70%;
}
div.short_answer_info {
	width: 40%;
	font-size: smaller;
	float: right;
	text-align: right;
}


p.comment_text {
	border-radius: 7px;
	border: thin solid #CCC;
	margin: 0;
	padding: .5em;
	background: #EEB;
}

div.log_entry {
	border-radius: 7px;
	background: #ED1C24;
	margin: 1em;
	padding: 1em;
	border: thick solid #B70F17;
}

p.show { display: block }

p.hide { display: none; }

.adminbutton {display:none;}


/**
 * spans
 */

span.bestanswer {
	color: #FFF;
	padding: .1em .4em .1em .4em;
	background: red;
	margin-left: 2em;
	font-weight: bold;
}

span.bestanswer_select {
	color: #000;
	padding: .1em .4em .1em .4em;
	margin-left: 2em;
	background: #78E700;
	font-weight: bold;
}

span.vote_button {
	padding: .1em .4em .1em .4em;
	background: red;
	color: #FFF;
	font-size: small;
}

span.date {
	font-size: small;
}

span.tag {
	padding: .1em .4em .1em .4em;
	background: red;
	color: #FFF;
	font-size: small;
}
